.posts {
    display: flex;
    flex-flow: row wrap;
    /*justify-content: space-between;*/

    
    .post {
        width: 70%;
        margin: 2em 15px;
        margin-left: -4px;
        padding: 10px;

        .post-inner {
            padding: 20px;
            border: 1.5px solid #ddd;
            border-radius: 3px;
            min-height: 10em;
            box-shadow: 0 3px 6px -3px rgba(0,0,0,0.3);
            background-color: #fff;
            
            .image-container {
                height: 10em;
                background-position: 0% 50%;
                background-repeat: no-repeat;
                background-size: cover;
            }

            h3 {
                margin: 15px 0 0;
            }

            p {
                padding-right: 5em;
                padding-top: 1em;
            }

            img {
                width: 100%;
            }
        }
    }

}