header {
    background: linear-gradient(173deg, darken($main-color, 10%), $main-color, $main-color, darken($main-color, 10%));
    height: 50px;
    width: 100%;
    box-shadow: 0 1.5px 3.2px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 1em;
    position: fixed;

    a {
        margin-left: 2em;
        &:hover {
            border-bottom: 3.5px solid black;
        }
    }
}