{% extends "shared/_layout.html" %}

{% block content %}

<div class="post-detail">
    <h2>{{instance.title}}</h2>

    {% if instance.image %}
        <img src="{{instance.image.url}}" alt="" class="post-detail-main-image">
    {% endif %}

    <div class="post-detail-content">
        <p>{{instance.content}}</p>
    </div>
    
    <p>Created on {{instance.timestamp|date}}</p>

    <a href="{% url 'posts:update' id=instance.id  %}">Edit</a>
    <a href="{% url 'posts:delete' id=instance.id  %}">Delete</a>
</div>


{% endblock content %}
    
