{% extends "shared/_layout.html" %}

{% block content %}

<div class="post-detail">
    <h2>{{object.title}}</h2>

    {% if object.image %}
        <img src="{{object.image.url}}" alt="" class="post-detail-main-image">
    {% endif %}

    <div class="post-detail-content">
        <p>{{object.content}}</p>
    </div>
    
    <p>Created on {{object.timestamp|date}}</p>

    <a href="{% url 'posts:update' pk=object.pk  %}">Edit</a>
    <a href="{% url 'posts:delete' pk=object.pk  %}">Delete</a>
</div>


{% endblock content %}
    
