{% extends "shared/_layout.html" %}

{% block content %}

<div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="post-inner">
            {% if post.image %}
                <div class="image-container" style="background-image: url('{{post.image.url}}')">
                    {% comment %}<img src="{{post.image.url}}" alt="{{post.image.url}}">{% endcomment %}
                </div>
            {% endif %}
            <h3><a href="{% url 'posts:detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <small>{{ post.timestamp | timesince:post.updated }}</small>

            <p>{{ post.content | truncatewords_html:40 }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
 