* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    
}

.container {
    padding: 2.5em 4em 8em;
}